<app-error-message *ngIf="error" [error]="error" class="my-6" />

<div class="overflow-x-auto relative items-center mb-4 mx-auto w-fit">
  <app-loading *ngIf="loading" />

  <table>
    <thead class="text-gray-600 font-normal text-sm">
      <tr>
        <th></th>
        <th>Country</th>
        <th>Capital</th>
        <th>Code</th>
        <th>Currency</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let edge of countries?.edges"
        class="text-sm text-nowrap border-t border-t-gray-100 h-10"
      >
        @let country = edge.node;
        <td>
          <img
            [src]="country.flagImageUri"
            alt="{{ country.name }}"
            class="rounded-full h-6 w-6"
          />
        </td>
        <td>
          {{ country.name }}
        </td>
        <td>
          {{ country.capital }}
        </td>
        <td>
          {{ country.code }}
        </td>
        <td>
          <span *ngFor="let currencyCode of country.currencyCodes">
            {{ currencyCode }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-paginator
  [reset]="refresh"
  [totalCount]="countries?.totalCount"
  [pageInfo]="countries?.pageInfo"
  (pageChange)="handlePageChange($event)"
  class="mx-auto"
/>
